<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyADgS6vdqOTh8F_Vb5WyuNUVTcytH_nTPA</string>
	<key>GCM_SENDER_ID</key>
	<string>980305901365</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.siwftlec.ToDoListProject</string>
	<key>PROJECT_ID</key>
	<string>swiftuitodolist-ac4ce</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuitodolist-ac4ce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:980305901365:ios:4e50c15425072e40a4fe7c</string>
</dict>
</plist>